nav.navbar.navbar-inverse
	div.container
		div.navbar-header
			button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/index") My Blog
		div.navbar-collapse.collapse(id = "navbar")
			ul.nav.navbar-nav
				li
					a(href="/articles") Articles
				li
					a(href="/users")
						i.fa.fa-users 
						span Users
			ul.nav.navbar-nav.navbar-right
				if user
					li Hello
						span=user.username
					li
						a(href="/account")
							i.fa.fa-user
							span My Account
					li
						a(href="/logout")
							i.fa.fa-sign-in
							span Sign Out
				else
					li
						a(href="/login")
							i.fa.fa-sign-in
							span Sign In
					li
						a(href="/registration")
							i.fa.fa-user-plus
							span Sign Up