<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	block title
	link(rel="stylesheet", href="css/main.css")
	link(rel="stylesheet", href="css/styles/bootstrap.min.css")
	link(rel="stylesheet", href="css/styles/font-awesome.min.css")
	script(src="javascripts/vendor.js")
	script(src='javascripts/main.js')
body
	div.header 
		h1 hello
	div.container 
		block content
	