<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	block title
	link(rel="stylesheet", href="styles/css/main.css")
	link(rel="stylesheet", href="styles/css/libs.css")
	script(src="javascripts/vendor.js")
	script(src='javascripts/main.js')
body
	include ../partials/header.jade
	div.container
		block content