extends layouts/page.jade

block title
  title Sign In

block content
    div.container
        div.row
            div.col-sm-8
                div.list-group
                    each item in articles
                        div.list-group-item
                            h1
                                a(href="#")=item.title
                            if( item.content)
                                if(item.content.length > 100)
                                    p=item.content.substring(1, 80)
                                        a(href="#") ...Read more
                                else
                                    p=item.content
