extends ../layouts/page.jade

block title
  title Sign In

block content
  if( userInfo  )
    div.panel.panel-primary
      div.panel-heading
        h1 Edit your  account info
      div.panel-body
        div.container
          div.row
            div.col-sm-6.col-sm-offset-3
              form.form-horizontal(method="POST")
                div.form-group
                  label.col-sm-4.control-label.input-lg(for="firstnameInput") Firstname
                  div.col-sm-8
                    input.form-control.input-lg(type="text" id="firstnameInput" name="firstname" value=userInfo.firstname)
                div.form-group
                  label.col-sm-4.control-label.input-lg(for="lastnameInput") Lastname
                  div.col-sm-8
                    input.form-control.input-lg(type="text" id="lastnameInput"  name="lastname" value = userInfo.lastname)
                div.form-group
                      label.col-sm-4.control-label.input-lg(for="birthdateInput") Birthdate
                      div.col-sm-8
                        input.form-control.input-lg(type="date" id="birthdateInput"  name="birthdate" value = userInfo.birthdate)
                div.form-group
                  div.col-sm-offset-4.col-sm-8
                    button.btn.btn-primary.btn-lg(type = "submit") Save
          div.row
            div.col-sm-6.col-sm-offset-3
              form.form-horizontal(method="POST" action="/users/delete")
                  div.form-group
                    div.col-sm-offset-4.col-sm-8
                      button.btn.btn-primary.btn-lg(type = "submit") Delete Account
          div.row
            div.col-sm-6.col-sm-offset-3
                div.col-sm-offset-4.col-sm-8
                  a.btn.btn-primary.btn-lg(href = "/articles/my") My articles
